*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
    #d1
{
    height: 40px;
    width: 50%;
    float: left;
    background-color: red;
}
#d2
{
    height: 40px;
    background-color: blue;
}
#d3
{
    height: 40px;
    width: 90%;
    float: left;
    background-color: green;
}
#d4
{
    height: 40px;
    background-color: blue;
}
#d5
{
    height: 40px;
    background-color: red;
    width: 10%;
    float: left;
}
#d6
{
    height: 40px;
    background-color: green;
    width: 80%;
    float: left;
}
#d7
{
    height: 40px;
    background-color: blue;
}
#d8
{
    height: 40px;
    width: 90%;
    float: left;
    background-color: red;
}
#d9
{
    height: 40px;
    background-color: blue;
}
#d10
{
    height: 40px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    /* position: fixed; */
    
}
#d11
{
    /* padding-top: 10px; */
    background-color: red;
    width: 20px;
    height: 20px;
    /* margin-left: 40%; */
    /* margin-top: 10px; */
}
#d12
{
    height: 40px;
    background-color: red;
    width: 45%;
    float: left;
}
#d13
{
    height: 40px;
    background-color: blue;
    width: 10%;
    float: left;
}
#d14
{
    height: 40px;
    background-color: red;
}

#i1
{
    height: 40px;
    background-color:red;
    width: 10%;
    float: left;
}
#h1
{
    height: 15px;
    background-color: blue;
}
#a1
{
    height: 10px;
    background-color:green;
}
#f1
{
    height: 15px;
    background-color: blue;
}

#se1
{
    width: 100%;
    height: 40px;
}
#dd1,#dd3,#dd5,#dd7,#dd9
{
    width: 37px;
    background-color: orangered;
    height: 40px;
    float: left;
}
#dd2,#dd4,#dd6,#dd8
{
    width: 290px;
    height: 40px;
    float: left;
    background-color: green;
}

#se2
{
    width: 100%;
    height: 40px;
}
#de1,#de3,#de5,#de7,#de9
{
    width: 250px;
    background-color: orangered;
    height: 40px;
    float: left;
}
#de2,#de4,#de6,#de8
{
    width: 24px;
    height: 40px;
    float: left;
    background-color: green;
}










